.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(85, 87, 90, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  max-width: 75vw;
  width: 100%;
  max-height: 75vh;
  height: 100%;
  background-color: aliceblue;
  padding: 1em;
  justify-content: center;
  align-items: center;
  img {
    width: 100% !important;
    height: 100% !important;
  }
}
