@import "../../styles/main.scss";
.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.link {
  color: $secondary-color;
}

:global(.dark-theme) {
  .link {
    color: white;
  }
}
