@import "../../styles/main.scss";

.header {
  display: flex;
  background-color: $primary-color;
  width: 100%;
  height: 84px;
}

.header > *:not(:last-child) {
  border-right: 1px solid $primary-color-light;
}
