.formwrapper {
  display: flex;
  justify-content: center;
}

.image_item {
  max-width: 400px;
  img {
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  padding-top: 70px;
  display: flex;
  align-items: center;

  .link {
    cursor: pointer;
  }

  .post_name {
    border-left: 1px solid #8d8e97;
    margin-left: 5px;
    color: #8d8e97;
    padding-left: 5px;
  }
}

.formwrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 40px;

  .input_container {
    display: flex;
    justify-content: space-between;

    .lesson_input {
      max-width: 50%;
      width: 100%;
    }

    .container {
      display: flex;
      flex-direction: column;
      width: 45%;
      max-width: 45%;

      input {
        border: 0px;
        border-radius: 2px;
        background-color: white;
        padding: 16px 32px;
        margin-bottom: 20px;
        cursor: pointer;
      }

      input:focus {
        outline: 0;
      }

      .text {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #313037;
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .imageRemoveWrapper {
        display: flex;
        max-width: 100%;

        .imageRemove {
          width: 100%;
          border: 0px;
          border-radius: 2px;
          background-color: rgb(211, 28, 28);
          padding: 16px 32px;
          margin-bottom: 20px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .textarea {
    min-height: 245px;
    margin-bottom: 48px;
  }

  .buttons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete_button {
      border: 0px;
      color: #fd3419;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      cursor: pointer;
      background: none;
    }

    .container {
      display: flex;
      justify-content: space-between;

      .reset_button {
        background-color: #e8e8e8;
        color: black;
        display: flex;
        justify-content: center;
        cursor: pointer;
        border: 0px;
        border-radius: 2px;
        padding: 16px 32px;
        transition: 0.3s;
        outline: 0;
        margin-right: 25px;

        &:hover {
          background-color: #e8e8e8b2;
        }
      }
    }
  }

  @media (max-width: 485px) {
    .buttons_container {
      flex-direction: column;
    }

    .input_container {
      flex-direction: column;

      .lesson_input {
        max-width: 100%;
      }

      .container {
        max-width: 100%;
        width: auto;
      }
    }
  }
}

.errors {
  color: red;
}
