@import "../../../../styles/main.scss";

.hamburgerItem {
  border-radius: 2px;
  height: 2px;
  width: 100%;
  background-color: $white-color;
  transform: rotate(0) translate(0);
  transition: all 0.3s ease-in-out;
}

.clicked {
  &-top {
    transform: rotate(45deg) translate(4px, 4px);
    transition: all 0.3s ease-in-out;
  }
  &-middle {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &-bottom {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: all 0.3s ease-in-out;
  }
}
